<%- include('templates/header'); -%>

<script>

	function confirmF(id){
		if(confirm("Do you really want to delete this user?")){
			location.href = "/user/"+id+"/delete";
		}
	}
	
</script>


<div class="container">
    <div class ="jumbotron">

			<div class='form-group row'>
				<div class='col-sm-4'>
					<%if(!users){%>
					
					<%} else {%>
						<table>
							<tr><th>User</th><th>Action</th></tr>
							<tr><td colspan="2"><hr/></td></td></tr>
							<%users.forEach(function(user){%>
								<tr>
									<td><%=user.firstName%> <%=user.lastName%></td>
									<td>| <a href="/user/<%=user.userId%>/edit">Edit</a> | <button onclick="confirmF(<%=user.userId%>)">Delete</button> </td>
								</tr>
							<%});%>
						</table>
					<%}%>

				</div>
			</div>

		<div class="col-sm-4"> </div>
        	<button class="col-sm-4 btn btn-info btn-block" onclick="location.href='/new_post';" > New Post </button> 
        <div class="col-sm-4"></div> 
    </div>
    
    <!--
    <div class='form-group row'>
		<div class='col-sm-4'>
			<%if(!stories){%>
			
			<%} else {%>
			
				<%stories.forEach(function(story){%>
				    <div class ="jumbotron">
						<h3> <%=story.title%></h3>
						<img class='col-sm-4 portrait' src='data:image/png;base64, <%=story.picture%>'/>
						<h2>Content: </h2><div><%=story.content%></div>
						<h5>Likes: </h5> <div><%=story.likes%></div>
						
							<button class="col-sm-4 btn btn-info btn-block" onclick="location.href='post/<%=story.storyId%>/update';" > Edit post </button> 
		
					</div>
				<%});%>
			<%}%>

		</div>
	</div>
	-->
	
	
	<div id="storyStream" class="storyStream">
		<% if ( !stories ) { %>
			<p>stories not found</p>
		<% } else { %>
			<% stories.forEach(function(story){ %>
				<%- include('templates/story.ejs', { "story" : story } ) -%>
			<% }); %>
		<% } %>
	</div> 
    
    
    
</div>


<%- include('templates/footer'); -%>
