<%- include('templates/header'); -%>


<script>

	function confirmF(id){
		if(confirm("Do you really want to delete this user?")){
			location.href = "/user/"+id+"/delete";
		}
	}
	
</script>

<div class="container">
    <div class ="jumbotron">
        <h1 style="text-align:center;"> User Page </h1>
    </div>
    
    
    <div class="row">
        <%if(!user){%>
            <h1 class='col-sm-12 nofound'>CANNOT FIND YOUR PROFIlE!!!</h1>
        <%}else{%>
            
            <img src="data:image/png;base64, <%=user.profilePic%>" class="storyImg mr-3" alt="...">

            <div class='col-sm-4 info'>
                <h3><%=user.firstName%> <%=user.lastName%></h3>
                <div>Sex: <%=user.sex%></div>
                <div class='bio'><%=user.description%></div>
                <a href="/user/<%=user.userId%>/edit">Edit</a> 
                <button onclick="confirmF(<%=user.userId%>)">Delete</button>
                
            </div>
            
            <div id="storyStream" class="storyStream">
        		<% if ( !stories ) { %>
        			<p>stories not found</p>
        		<% } else { %>
        			<% stories.forEach(function(story){ %>
        				<%- include('templates/story.ejs', { "story" : story } ) -%>
        			<% }); %>
        		<% } %>
	        </div> 
            
        <%}%>
    </div>
</div>

<%- include('templates/footer'); -%>

