<!--
<div class="storyCard">
    <img style="width=25%;" class="card-img-top" src='data:image/png;base64, <%=story.picture%>' alt="Image Not Available">
    <div class="card-body">
       
    </div>
    <script>
        
    </script>
</div>
-->

<div class="storyCard">
    
    <img src="data:image/png;base64, <%=story.picture%>" class="storyImg mr-3" alt="...">
    <div class="storyBody">
        <h5 class="mt-0"><%=story.title%></h5>
        <p class="mt-0"><%=story.category%></p>
        <%=story.content%>
        
    </div>
    <div class="storyFooter">
        <hr>
        <button onClick="location.href='/post/<%=story.storyId%>/update';">Edit</button>
        <button onClick="confirmF(<%=story.storyId%>)">Delete</button>
    </div>
    
    <script>

	function confirmF(id){
		if(confirm("Do you really want to delete this post?")){
			location.href = "/post/"+id+"/delete";
		}
	}
	
    </script>
</div>